*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color:orange;
    font-size: 20px;
    font-weight:bold;
    
}
h1{
    font-size: 36px;
    padding-top: 20px;
  }
  .links {
    width: 80%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    margin-left: 400px;
    
  }
  .links ul {
    display: inline;
    text-decoration: none;
}
.links li {
    list-style-type: none;
    display: inline-block;
    font-weight: 700;
    font-size: 1.6vw;
    text-transform: capitalize;
    margin: 0 2%;
    text-decoration: none;
    color:white;
    padding: 30px;
    margin-top: -130px;
}
.links ul li{
    list-style-type: none;
    display: inline-block;
    font-weight: 700;
    font-size: 1.3vw;
    text-transform: capitalize;
    margin: 0 2%;
    text-decoration: none;
    color:white;
}
.links ul li a{
    color:blue;
    text-decoration: none;
}
  .container{
      line-height: 35px;
      justify-content: center;
      font-size: 25px;
  }