*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color:orange;
    font-size: 20px;
    font-weight:bold;
    
}
h1{
    font-size: 36px;
    padding-top: 20px;
  }
  .logo-text{
    margin-top: 60px;
    font-size: 50px;
    color:blue;
}
  .links {
    width: 80%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    margin-left: 400px;
    margin-top: -90px;
    
  }
  .links ul {
    display: inline;
    text-decoration: none;
    margin-top: 5px;
}
.links li {
    list-style-type: none;
    display: inline-block;
    font-weight: 700;
    font-size: 1.6vw;
    text-transform: capitalize;
    margin: 0 2%;
    text-decoration: none;
    color:white;
    padding: 30px;
    margin-top: -10px;
}
.links ul li{
    list-style-type: none;
    display: inline-block;
    font-weight: 700;
    font-size: 1.8vw;
    text-transform: capitalize;
    margin: 0 2%;
    text-decoration: none;
    color:white;
}
.links ul li a{
    color:blue;
    text-decoration: none;
}
  .container{
      /* line-height: 35px;
      justify-content: center;
      font-size: 25px; */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color:darkblue;
  font-size: large;
  margin-top: 150px;
  width: 55%;
  justify-content: center;
  font-size: 25px;
  margin: auto;
  color: white;
  line-height: 35px;
  }
  .form{
      display: flex;
      justify-content: center;
      margin-top: 280px;
      background-color:darkblue;
      width: 55%;
      text-align: center;
      margin: auto;
      color: white;
      height: 140px;
  }